body{background:#000;}
/* 轮播 */
.banner{
	width:1420px;
	height:720px;
	position:relative;
	/* margin-left:50px; */
	margin-top:78px;
	margin:0 auto;
}
.menu-wrap{
	position: absolute;
	width: 100px;
	height: 60px;
	bottom: 55px;
	left: 50%;
	 margin-left: -50px;
	z-index: 10;
	
}
.menu-wrap>.pagination{
	display: block;
}
.menu-wrap>.pagination span{
	display: inline-block;
	margin: 0 3px;
	width: 14px;
	height: 14px;
	background:url(../img/index/point.png) no-repeat;
}
.menu-wrap>.pagination>span{
	cursor: pointer;
}
.menu-wrap>.pagination>.current{
	background:url(../img/index/point.png) no-repeat;
	background-position:-34px 0px;
}
/*banner图*/
.wrapper{
	height: 720px;
}
.wrapper>.content_1 h3,.wrapper>.content_2 h3,.wrapper>.content_3 h3,.wrapper>.content_4 h3{
	font-size: 48px;
	color: #ccac82;
	font-weight: 500;
	font-family: Microsoft Yahei;
	position: relative;
	animation: lateral2 1s cubic-bezier(0.18, 0.9, 1, 1);
}
.wrapper>.content_1 p,.wrapper>.content_2 p,.wrapper>.content_3 p.v1,.wrapper>.content_4 p{
	font-size: 32px;
	color: #916f53;
	margin-top: 5px;
	position: relative;
	opacity: 0;
	animation: lateral2 .5s cubic-bezier(0.32, 0.55, 1, 1) .3s;
	animation-fill-mode:forwards;
}
.wrapper>.content_3 p.v2{
	font-size: 12px;
	color:  #916f53;
	opacity: 0;
	position: relative;
	animation: lateral2 .5s cubic-bezier(0.32, 0.55, 1, 1) .6s;
	animation-fill-mode:forwards;
}
@keyframes lateral2{
	  0%{
	  	/*left: -30px;*/
	  	opacity: 0;
	  }
	  100%{
	  	/*left: 0px;*/
	  	opacity: 1;
	  }
 }
.content_1>.introduce1,.content_2>.introduce1,.content_4>.introduce1{
	position: absolute;
	top: 110px;
	text-align: center;
	width: 100%;
	animation: lateral 2s cubic-bezier(0.18, 0.9, 1, 1);
}
.content_3>.introduce3{
	position: absolute;
	top: 300px;
	margin-left: 73px;
	width: 100%;
}
.content_1{
	background:url(../img/index/banner-1.jpg) no-repeat;
	animation: lateral3 2s cubic-bezier(0.18, 0.9, 1, 1);
	height: 100%;
	display: none;
}
.content_2{
	background:url(../img/index/banner-2.jpg) no-repeat;
	animation: lateral3 2s cubic-bezier(0.18, 0.9, 1, 1);
	height: 100%;
	display: none;
}
.content_3{
	background:url(../img/index/banner-3.jpg) no-repeat;
	animation: lateral3 2s cubic-bezier(0.18, 0.9, 1, 1);
	height: 100%;
	display: none;
}
.content_4{
	background:url(../img/index/banner-4.jpg) no-repeat;
	animation: lateral3 2s cubic-bezier(0.18, 0.9, 1, 1);
	height: 100%;
	display: none;
}
@keyframes lateral3{
	  0%{
	  	opacity: 0;
	  }
	  100%{
		opacity: 1;
	  }
 }
 @keyframes lateral4{
	  0%{
	  	opacity: 1;
	  }
	  100%{
		opacity: 0;
	  }
 }
 .in{
 	display: block;
 }


/* 三张小图 */
.tea_xt{
    width:1420px;height:390px;border-bottom:1px solid #1b1614;
    margin:0 auto;margin-top:100px;
}
.tea_xt1{
    border-top:1px solid #1b1614;padding-top:30px;
    margin:0 auto;
}
.tea_xt1>ul{list-style:none;text-align:center;}
.tea_xt1 ul li{
    position:relative;width:422px;display:inline-block;margin:0 auto;
}
.tea_xt1 ul li a{
    text-decoration:none;color:#5f4838;
}
.content1{
    position:relative;bottom:225px;text-align:center;
}
.content1>h3{
    color:#ccac82;font-size:20px;
}
.s1{
    color:#916f53;font-size:14px;display:inline-block;
    height:20px;padding-right:20px;

}
.s1:hover{
   color:#ccac82;
}
.footer>a{
    position:relative;left:1333px;color:#5f4838;
    text-decoration:none;bottom:150px;
}

.footer>span{
    display:inline-block;
    width:40px;height:20px;
    position:relative;left:1320px;color:#5f4838;bottom:150px;
    background:url(../img/footer/gotop.png) no-repeat right 5px;
}
.footer>a:hover{
    color:#ccac82;
}
/*底部*/
.footer>.tea_fm{
    color:#5f4838;
    width:1420px;height:110px;
    margin:0 auto;margin-top:10px;
}
.footer .tea_cen{
    width:1220px;height:68px;margin:0 auto;
    position:relative;
}
.footer .tea_left{
    display:inline-block;
}
.tea_left>.left_top>a{
    font-size:12px;color:#5f4838;
    text-decoration:none;
}
.tea_left>.left_top>a:hover{
    color:#ccac82;
}
.tea_left>.left_top>i{
    height:12px;display:inline-block;width:1px;
    background-color:#3a2f2b;
    margin:0 19px;
}
.left_top>a>span{
    font-size:20px;margin-left:10px;

}
.right_top{
    float:right;position:relative;
    bottom:65px;right:70px;
}
.right_top span{
    font-size:24px;
}
/*侧边栏*/
.tools-bar{
    position: fixed;
    height: 54px;
    top: 50%;
    margin-top: -30px;
    right: 10px;
}
.rnav{
    width: 54px;
}
.rnav>a{
    margin-top: 0;
    cursor: pointer;
    width: 54px;
    height: 62px;
    display: block;
}
.nav-content{
    position: absolute;
    width: 168px;
    height: 236px;
    right: 48px;
    top: 0;
    display: none;

}
.nav-content1{
    position: absolute;
    width: 168px;
    height: 236px;
    right: 48px;
    top: 0;
    display: none;
}